.container {
  width: 20%;
  height: auto;
  grid-area: filters;
  background: var(--white);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 10px 20px 10px;
}

.icon {
  font-size: 1.2em;
}

.header {
  width: 100%;
  height: 50px;
  padding: 0 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray);
}

.header_name {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.header_name P {
  margin: 0 5px;
  font-size: 1.1em;
  font-weight: 600;
}

.categories {
  width: 100%;
  height: auto;
  display: flex;
  padding: 0 5px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.categories_header {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.categories_header p {
  font-weight: 600;
}

.title {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title p {
  color: var(--gray);
}

.categories_search {
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--grayish);
  border-radius: 5px;
  padding: 0 0 0 10px;
  margin: 5px 0 5px 0;
}

.categories_search input {
  width: 90%;
  height: 25px;
  padding: 0 8px;
  border: none;
  background: transparent;
  outline: none;
  border-left: 1px solid var(--gray);
  font-size: 1em;
}

.list {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.list_item {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.item_left {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.item_left p {
  margin: 0 5px;
  text-transform: capitalize;
}

.item_right {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  /* background: red; */
}

.button {
  background: var(--blue);
  border: none;
  width: 55%;
  height: 24px;
  border-radius: 3px;
  color: var(--white);
  font-size: 1em;
  margin: 10px 0;
}

.audience {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 15px 0;
  padding: 0 5px;
}

.time {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
  padding: 0 5px;
}

.time button {
  background: var(--blue);
  border: none;
  width: 45%;
  height: 24px;
  border-radius: 3px;
  color: var(--white);
  font-size: 1em;
  margin: 10px 0;
}

@media screen and (max-width: 992px) {
  .container {
    display: none;
  }
}
