.container {
  width: 95%;
  height: 110px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  border-top: 1.5px solid #c4c4c4;
}

.container .image {
  width: 150px;
  height: 90px;
  border-radius: 7px;
  overflow: hidden;
}

.container .image img {
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.container .category {
  padding: 5px 10px;
  background: #c4c4c4;
  border-radius: 4px;
  position: absolute;
  top: 5px;
  right: 0;
}

.container .content {
  width: auto;
  margin: 0 0 0 10px;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.container .content .link {
  width: auto;
  height: 20px;
  display: flex;
  align-items: center;
}

.container .content .link .icon {
  margin: 0 5px 0 0;
}

.container .content .title {
  font-weight: 700;
  color: var(--title);
  width: auto;
  height: 30px;
  display: flex;
  align-items: center;
  text-decoration: underline;
}

@media screen and (max-width: 599px) {
  .phone_blog {
    width: 98%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1.5px solid #c4c4c4;
  }

  .phone_blog .top {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .phone_blog .top .left {
    width: 100px;
    height: 80px;
    margin: 0 5px 0 0;
    border-radius: 7px;
    overflow: hidden;
  }

  .phone_blog .top .left img {
    width: 150%;
  }

  .phone_blog .top .right {
    width: calc(98% - 100px);
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .phone_blog .top .right .link {
    width: auto;
    height: 20px;
    display: flex;
    align-items: center;
  }

  .phone_blog .top .right .link .icon {
    margin: 0 5px 0 0;
  }

  .category_fam {
    padding: 5px 10px;
    background: #c4c4c4;
    border-radius: 4px;
  }

  .title {
    font-weight: 700;
    color: var(--title);
    width: auto;
    height: 30px;
    display: flex;
    align-items: center;
    text-decoration: underline;
  }
}
