.wrapper {
  position: relative;
  width: 100%;
  border-radius: 10px;
}

.container {
  position: relative;
  width: 100%;
  height: 100px;
}

.container input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
}

.slider_track {
  width: 100%;
  height: 5px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 5px;
}

.container input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 5px;
}

.container input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  height: 5px;
}

.container input[type="range"]::-ms-track {
  appearance: none;
  height: 5px;
}

.container input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  background-color: var(--blue);
  cursor: pointer;
  margin-top: -4px;
  pointer-events: auto;
  border-radius: 50%;
}

.container input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 1m;
  width: 1em;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--blue);
  pointer-events: auto;
}

.container input[type="range"]::-ms-thumb {
  appearance: none;
  height: 1em;
  width: 1em;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--blue);
  pointer-events: auto;
}

.container input[type="range"]:active::-webkit-slider-thumb {
  background-color: var(--white);
  border: 3px solid var(--blue);
}

.values {
  background-color: var(--blue);
  width: 100%;
  position: relative;
  margin: auto;
  padding: 10px 0;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 1em;
  color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.values:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-top: 15px solid var(--blue);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  margin: auto;
  bottom: -14px;
  left: 0;
  right: 0;
}

.button {
  background: var(--blue);
  border: none;
  width: 45%;
  height: 24px;
  border-radius: 3px;
  color: var(--white);
  font-size: 1em;
  margin: 10px 0;
}
