/* body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
} */

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);
  margin: 20px;
  width: calc(100% - 40px);
  flex-direction: column;
  font-size: large;
  gap: 20px;
}

.loader>span{
  width: 50%;
}

.h1-heading {
  text-align: center;
  color: #333;
  margin-top: 20px;
  font-size: 2.5em;
}

.my-masonry-grid {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
  padding: 20px;
}

.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

.youtube-block {
  background: white;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.youtube-block:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.youtube-block iframe {
  border-radius: 8px;
}

.youtube-block h3 {
  font-size: 1.2em;
  color: #0073e6;
  margin: 10px 0;
}

.youtube-block p {
  font-size: 0.9em;
  color: #666;
}

.youtube-block a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 700px) {
  .h1-heading {
    font-size: 2em;
  }
}
