.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  /* grid-template-rows: 1fr; */
  grid-template-areas: "filters content actions";
  /* padding: 10px; */
  grid-gap: 10px;
  margin-top: 5px;
}

.blogs {
  width: 100%;
  height: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  grid-area: content;
  /* position: relative; */
}

.icon {
  font-size: 1.2em;
  margin: 0 5px;
}

.top {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.filters {
  width: 8%;
  margin: 0 5px 0 0;
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--white);
}

.actions {
  width: 8%;
  margin: 0 0 0 5px;
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--white);
}

.search {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--white);
  padding: 0 10px;
  border-radius: 5px;
}

.form {
  width: 95%;
  height: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-left: 1px solid var(--gray);
  border-right: 1px solid var(--gray);
  padding: 0 10px 0 5px;
}

.search_input {
  width: 60%;
  height: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 1em;
  padding: 0 5px;
  /* background: transparent; */
}

.form button {
  width: 15%;
  height: 100%;
  border: none;
  background: var(--blue);
  color: var(--white);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.results {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 7px;
}

.results .div {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.results .div .header {
  width: 95%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.results .div .header select {
  padding: 5px 15px;
  background: var(--grayish);
  border: none;
  border-radius: 3px;
}

.big_logo {
  margin: 25% 0 0 0;
}

.footer {
  width: 100%;
  margin-top: 20px;
  height: 300px;
  background: linear-gradient(270deg, #ffcc70 0%, #c850c0 0.01%, #4158d0 100%);
  display: flex;
  padding: 20px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.logo {
  width: 20%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.logo p {
  font-size: 1.2em;
  font-weight: 700;
  color: var(--white);
  margin: 0 10px;
}

.links {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.resources {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--white);
}

p.title {
  line-height: 30px;
  font-weight: 600;
}

.resources ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.resources ul li {
  margin: 0;
  padding: 0;
  line-height: 25px;
}

.socials {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--white);
}

.socials ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.socials ul li {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 25px;
  cursor: pointer;
}

@media screen and (max-width: 599px) {
  .footer {
    /* display: none; */
    height: 350px;
    flex-direction: column;
  }

  .form {
    border-left: none;
  }

  .links {
    width: 100%;
    justify-content: flex-start;
    padding: 0 10px;
  }

  .resources {
    width: 50%;
  }
}
