.container {
  width: 100%;
  height: auto;
}

.content {
  width: 100%;
  height: auto;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content .loading {
  width: 80%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content .data {
  width: 100%;
  margin: 0 10px;
  height: auto;
  background: var(--white);
}

.content .data .blogs {
  width: 100%;
  height: auto;
  padding: 0 10px;
  border-radius: 10px;
  overflow-x: scroll;
}

.content .data .blogs::-webkit-scrollbar {
  height: 7px;
  border-radius: 50px;
  background: transparent;
  border: none;
}

.content .data .blogs::-webkit-scrollbar-thumb {
  background-color: var(--gray);
}

.content .data .blogs .blog {
  width: 50%;
  height: auto;
  margin: 0 0 20px 0;
}

.content .data .blogs .blog .blogItem {
  width: 50%;
  height: auto;
}

.content .data .blogs .blog .blogItem .value {
  font-weight: 700;
}
